<div class ="top">
  <div class="title_a">
    <div class="title">
    <h3>Today's recipe</h3></div>
  </div>




  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="/images/img01.png"></div>
        <div class="swiper-slide"><img src="/images/img02.png"></div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>



  <div class="body">
    <div class="body2">
      <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'Sign-up', new_user_registration_path, class: "sign-up" %></li>
    </div>
  </div>



  <div class="menu">
    <div class="menu2">Menu sharing</div>
  </div>
</div>
